* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(180deg, #64BEFF -75%, #6E96FF 69%, #2A65FF 150%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.playerNames-container{
    position: absolute;
    font-family: pixelatedText;
    width: 150px;
    height: 260px;
    left: -160px;
    overflow: hidden;   
    border: solid white 2px;
    background-color: black;
    padding: 0;
    margin: 0;
}
.chat-container{
    position: absolute;
    animation: fadeIn 1s;
    font-family: pixelatedText;
    width: 150px;
    height: 260px;
    right: -160px;
    border: solid white 2px;
    font-size: 10px;
    color: white;
    background-color: black;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}
input {
    font-family: pixelatedText; 
    font-size: 10px; 
    background-color: black !important; 
    border-color: white;
    padding: 0px 2px 2px 2px;   
    height: 20px; 
    color: white;  
}
input[type=button]:hover{
    background-color: white !important;
    color: black !important;
}
input[type=text] {
    border-color: white; 
    border-left-style: none; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-top-style: solid;
    overflow: scroll;
}
input[type=text]:focus {
    outline: none; 
}
.chat-messages > span {
    font-size: 7px;
    display: block;
    padding-left: 2px;
}
.chat-messages > span:nth-child(2n) {
    color: grey;
}
.chat-title {
    height: 19px;
}
.chat-title > span {
    position: fixed; 
    background-color: black; 
    padding: 2px; 
    border-bottom: 2px solid white; 
    width: 146px; 
    height: 19px;
}
.send-message {
    left: -2px;
    height: 20px;
}
.send-message > input {
    position: fixed; 
    bottom: 0px;
}
.send-message > input:nth-child(1){
    width: 100px; 
}
.send-message > input:nth-child(2) {
    height: 20px; 
    right: -160px;
    border-color: white; 
    border-style: solid;
    width: 50px; 
}
.send-message > input:nth-child(2):hover {
    cursor: pointer;
}
.playerList-title {
    color: white;
    padding-left: 5px;
    padding-top: 3px;
    margin: 0;
    display: inline-block; 
}
.playerInfo {
    height: 15px;
    line-height: 15px;
    padding: 0 0 0 5px; 
}
.playerInfo > span, .changeName-container > span{
    animation: fadeIn 1s;
    color: white; 
    font-size: 10px;
    display: inline-block; 
    vertical-align: middle;
    line-height: normal;
    margin: 0;
}
.playerInfo > span:nth-child(2){
    padding-bottom: 2px;
    padding-right: 2px;
    float: right;
}
.playerInfo.you:hover {
    background-color: grey;
}
.playerInfo.you > span:nth-child(1) {
    color: orange;
}
.game-container {
    position: relative;
    margin: 10px;
    width: 400px;
    height: 240px;
    overflow: hidden;
}
.game-container-road {
    position: absolute;
    bottom: 0px;
    width: 800px;
    height: 89px;
    background: url(images/road.png) repeat-x;
    image-rendering: pixelated;
    animation: slide 3s linear infinite;
    z-index: -1;
}
.game-container-road-background {
    position: absolute;
    bottom: 0px;
    width: 800px;
    height: 240px;
    background: url(images/road-background.png) repeat-x;
    image-rendering: pixelated;
    animation: slide 15s linear infinite;
    z-index: -1;
}
.game-container-border {
    position: relative;
    width: 420px;
    height: 260px;
    background: url(images/border.png);
    /* overflow: hidden; */
}

/* Character */
.grid-cell{
    position: absolute;
    width: 240px;
    height: 64px;
}
.Character {
    animation: fadeIn 1s;
    transition: transform 0.4s;
}
.Character.you{
    z-index: 1;
}
.Character.you .Character_you-arrow {
    display: block
}
.Character_you-arrow {
    display: none;
    position: absolute;
    top: -18px;
    left: 15px;
    width: 7px;
    height: 5px;
    background: url(images/arrow.png) no-repeat no-repeat;
}
.Character_car {
    transform: scale(.5);
    top: -15px;
    left: -100px;
    background: url(images/car.png);
}
.Character_name-container {
    position: absolute;
    top: -12px;
    font-size: 6px;
    padding: 1px 2px 2px;
    border-radius: 3px;
    background: #333;
    color: white;
    font-family: pixelatedText;
    text-transform: uppercase;
    white-space: nowrap;
}
.offline {
    color: white !important;
}

.online {
    color: green !important;
}
.player-settings-container {
    font-family: pixelatedText;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    z-index: 2;
}
.player-settings-popup {
    color: white;
    width: 200px;
    height: 150px;
    z-index: 2;
    background-color: black;
    border: 2px solid white;
}
.player-settings-popup-title {
    float: left;
    padding-left: 2px;
}
.player-settings-popup-x {
    float: right;
    padding-right: 2px;
    padding-left: 2px;
    cursor: pointer;
}
.player-settings-popup-x:hover{
    background-color: grey;
}
.player-settings-content {
    clear: left;
    clear: right;
    display: block;
    font-size: 10px;
    padding-left: 2px;
}
.player-settings-name-input {
    width: 198px;    
}
.player-settings-name-buttons {
    border-left-style: solid; 
    border-right-style: none; 
    border-bottom-style: solid; 
    border-top-style: none;
    display: block;
    float: right;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 0;
    display: block;
    padding: 10px;
    width: 100%;
    background: white;
  }
input[type=range]::-moz-range-track {
    background-image: linear-gradient(to left, red, violet, indigo, blue, green, yellow, orange, red);
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-runnable-track {
    background-image: linear-gradient(to left, red, violet, indigo, blue, green, yellow, orange, red);
    border: none;
    border-radius: 3px;
}


.scaleInAnimation {
    animation: scaleIn .5s;
}
.hidden {
    visibility: hidden;
}

@keyframes slide {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-400px); /* The image width */
    }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@font-face { 
    font-family: pixelatedText; src: url("fonts/slkscr.ttf");
}
@keyframes scaleIn {
    0% {
        transform: scale(0%); 
    }
    100% {
        transform: scale(100%);
    }
}
@keyframes scaleOut {
    0% {
        transform: scale(100%); 
    }
    100% {
        transform: scale(0%);
    }
}