* {
    box-sizing: border-box;
}

@font-face { 
    font-family: pixelatedText; src: url("fonts/slkscr.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(180deg, #64BEFF -75%, #6E96FF 69%, #2A65FF 150%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.playerNames-container{
    position: absolute;
    font-family: pixelatedText;
    width: 150px;
    height: 260px;
    left: -160px;
    overflow: hidden;   
    border: solid white 2px;
    background-color: black;
    padding: 0;
    margin: 0;
}
.playerList-title {
    color: white;
    padding-left: 5px;
    padding-top: 3px;
    margin: 0;
    display: inline-block; 
}
.playerInfo {
    height: 12px;
    line-height: 12px;
    padding: 0 0 0 5px; 
}
.playerInfo > span {
    color: white; 
    font-size: 10px;
    display: inline-block; 
    vertical-align: middle;
    line-height: normal;
    margin: 0;
}
.playerInfo > span:nth-child(2){
    padding-bottom: 2px;
    left: 100px;
}
.playerInfo.you > span:nth-child(1) {
    color: orange;
}
.game-container {
    position: relative;
    margin: 10px;
    width: 400px;
    height: 240px;
    overflow: hidden;
}
.game-container-road {
    position: absolute;
    bottom: 0px;
    width: 800px;
    height: 89px;
    background: url(images/road.png) repeat-x;
    image-rendering: pixelated;
    animation: slide 3s linear infinite;
    z-index: -1;
}
.game-container-road-background {
    position: absolute;
    bottom: 0px;
    width: 800px;
    height: 240px;
    background: url(images/road-background.png) repeat-x;
    image-rendering: pixelated;
    animation: slide 15s linear infinite;
    z-index: -1;
}
.game-container-border {
    position: relative;
    width: 420px;
    height: 260px;
    background: url(images/border.png);
    /* overflow: hidden; */
}

/* Character */
.grid-cell{
    position: absolute;
    width: 240px;
    height: 64px;
}
.Character {
    transition: transform 0.4s;
}
.Character.you{
    z-index: 1;
}
.Character.you .Character_you-arrow {
    display: block
}
.Character_you-arrow {
    display: none;
    position: absolute;
    top: -18px;
    left: 15px;
    width: 7px;
    height: 5px;
    background: url(images/arrow.png) no-repeat no-repeat;
}
.Character_car {
    transform: scale(.5);
    top: -15px;
    left: -100px;
    background: url(images/car.png);
}
.Character_name-container {
    position: absolute;
    top: -12px;
    font-size: 5px;
    padding: 1px 2px 2px;
    border-radius: 3px;
    background: #333;
    color: white;
    font-family: pixelatedText;
    text-transform: uppercase;
    white-space: nowrap;
}

@keyframes slide {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-400px); /* The image width */
    }
  }